/target/
!.mvn/wrapper/maven-wrapper.jar

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### Dev Tools && Production ###
src/main/resources/application-prod.properties
src/main/resources/rebel.xml
.classpath
.factorypath
.project
.settings/
.vscode/
logs/
*.log
