/**
  * icon
  *
  *@author Terwer
  *@version 1.0
  *2019/3/4 18:36 
  **/
/*使用字体图标*/
[class^="jvue-icon-fa"], [class*=" jvue-icon-fa"] {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    margin-right: 5px;
    width: 24px;
    text-align: center;
    font-size: 18px;
    vertical-align: middle;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}